body{
    background-color: #1e555c;
    color: white;
    font-family: serif;
}

#main-title{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

#container{
    text-align: center;
    width: 550px;
    margin: auto;
    margin-top: 8vh;
    border-radius: 0px;
    padding: 5px;
}

#time-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 30px;
}

#break-control{
    width: 250px;
    padding: 3px;
}

#break-length{
    display: inline-block;
    width: 40px;
}


#session-control{
    width: 255px;
}

#session-length{
    display: inline-block;
    width: 40px;
}

#display{
    width: 300px;
    font-size: 50px;
    border: 7px solid #13353a;
    border-radius: 50px;

    margin: 20px auto;
}
